.contact__container {
	grid-template-columns: 1fr;
	column-gap: 1.875rem;
}
.contact__title {
	font-weight: var(--fw-500);
	margin-bottom: 2rem;
	font-size: var(--fs-h3);
	line-height: 2rem;
}
.contact__button {
	max-width: 600px;
	margin: auto;
}

/* @media (min-width: 600px) {
	.contact__container {
		grid-template-columns: 5fr 7fr;
	}
} */
